#Experience {
  width: 100%;
  height: 50%;
  margin-top: 30px;
}

.box {
  display: flex;
}
.ex_iconBox {
  width: 90%;
  height: 40px;
  margin: auto;
}

.ex_entry {
  width: 100%;
}

.ex_icon {
  font-size: 20pt !important;
  margin: auto !important;
  color: #f28058;
}

.ex_text {
  margin: auto;
  margin: right;
}

#ex_description {
  margin-top: 40px;
  width: 100%;
  padding: 2%;
  background-color: #f6f6f6;
  border-radius: 2px;
  margin-bottom: 3%;
}

#ex_description_title {
  font-weight: bold;
  margin-bottom: 30px;
}

#ex_description_value {
  width: 100%;
  text-align: center;
}
