.slider-box {
  /* width: 100%; */
  height: 400px;
}

.slider-img {
  width: 100%;
  height: 400px;
}

.slick-slide {
  opacity: 0.5;
}

.slick-center {
  opacity: 1;
  transition: opacity 500ms linear;
}
