.account_container {
  width: 100%;
  height: 100%;
}

.account_body {
  display: flex;
  width: 100%;
  background-color: #f6f6f6;

  padding: 30px 50px;
}
.account_content {
  margin: auto;
  margin-top: 0px;
  width: 80%;
}
